<div id="main-dropdown">

	<%= select_tag(:drug, (options_for_select(@drug_options))) %>

</div>

<div id="pros-dropdown">
<%= select_tag(:pros, (options_for_select(@pros_options))) %>
</div>


<div id="check-boxes">

<%= check_box_tag(:dealers) %>
<%= label_tag(:dealers, 'Dealers') %>


</div>

