<%= image_tag("Scorz.png", :alt => "Scorz") %>

<nav>

</nav>

<div id="map-canvas"></div>

<p>Scorz data pulled from the arrest records provided by the <a href="http://sanfrancisco.crimespotting.org/api">San Francisco Crimespotting API</a>.</p>