

<%= image_tag("Scorz3.png", :alt => "Scorz") %>

<!-- <div id="test">
</div> -->
<p id="test">
</p>


<nav id="drugs">

<%= render 'form' %>

</nav>

<div id="map"></div>

<p>Scorz data pulled from the arrest records provided by the <a href="https://data.sfgov.org/Public-Safety/SFPD-Incidents-from-1-January-2003/tmnf-yvry">San Francisco OpenData API</a>.</p>