<!DOCTYPE html>
<html>
  <head>
    <title>Scorz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAON1KgNbsK4_TLPxlX9ZNfbqG8_I9E_YY&v=3.27" async defer type="text/javascript"></script>
    <!-- &callback=initMap -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
